.main {
	/* background-image: url("./../images/1088.jpg");
	background-size: cover;
	background-position: center; */

  /* height: 100vh; */
	/* width: 100vw; */
	/* overflow-x: hidden; */

	/* -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; */
}

.main-background__image{
	width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0px;
	background-image: url("./../images/1088.jpg");
	background-size: cover;
	background-position: center;
}
	.main-background {
		background-color: rgba(255, 255, 255, 0.7);
		/* height: 100vh; */
		display: flex;
    align-items: center;
    justify-content: center;
	}
	.main-wrapper {
		width: 1000px;
		background-color: var(--white);
		height: 100%;
		display: flex;
	}
	.main-content {
		width: 100%;
		margin: 25px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

/* ------------------------
			TOP BLOCK
-------------------------*/

.main-content .purchase {

}
	.purchase__top{}
	.purchase-header__buttons{
		display: flex;
	}
	.purchase-header__wrapper {
		height: 100%;
		width: 130px;
	}
	.purchase__top-block {
		display:flex;
		flex-direction: column;
		margin: 15px 15px 0 15px;
	}
	.purchase__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	.purchase-header-button{
		min-width: 130px;
		height: 36px;
		background: #14347B;
		border: transparent;

		display: flex;
    align-items: center;
		justify-content: center;
		margin-left: 10px;
	}
	.purchase__text{
		font-family: "Circe";
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 21px;

		text-align: center;
		color: #FFFFFF;
		padding-left: 5px;
	}
	.purchase__title{
		font-family: "Circe";
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 35px;

		text-transform: uppercase;

		color: #14347B;
	}

	.purchase__lists {
		display: flex;
    justify-content: space-between;
		width: 100%;
		margin-bottom: 15px;
	}
	.purchase__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		padding: 0px;
	}
	.purchase__type {
		color: #8C8C8C;
	}
	.purchase__lists-elem {
		display: flex;
	}
	.purchase .purchase__button {
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
		border: transparent;
		width: 240px;
		height: 60px;
		margin-bottom: 25px;
		background: linear-gradient(90deg, #E73A3B 0%, #E31E24 36.86%, #AC2921 100%);

		font-family: "Circe";
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;

		color: var(--white);
	}
	.purchase .purchase__button:hover {
		background: #A80A0B;
	}
	.purchase__description {
		border: 1px solid #8C8C8C;
		/* width: 100%; */

		font-family: "Circe";
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 21px;

		color: var(--black);
		padding: 10px;
		margin: 10px 15px 70px 15px;
	}

	.purchase__block{
		border: 2px solid #8C8C8C;
		/* padding: 15px; */
		height: 180px;
		margin-bottom: 24px;

		position: relative;
		overflow-y: hidden;
	}

	.purchase__line{
		position: absolute;
    width: 100%;
    height: 90px;
    background: white;
    /* border: 1px solid black; */
    bottom: 0;
	}

	.purchase__arrow{
		position: absolute;
		bottom: 25px;
		right: 25px;
		transform: rotate(180deg);
	}
	.purchase__buttons{
		position: absolute;
		bottom: 25px;
		left: 15px;
		visibility: hidden;
	}

/* ------------------------
			CENTER BLOCK
-------------------------*/

	.purchase__center{
		margin-top: 25px;
		display: flex;
    flex-direction: column;
    align-items: flex-start;
	}
	.purchase__center-title{
		font-family: "Circe";
		font-style: normal;
		font-weight: normal;
		font-size: 23px;
		line-height: 34px;

		text-transform: uppercase;

		color: #000000;
	}

/* ------------------------
			BOTTOM BLOCK
-------------------------*/
	.purchase__bottom{}
		.purchase__bottom-button {
			width: 111px;
			height: 36px;
			color: var(--white);
			background: #3155A5;
			border: transparent;

			font-family: "Circe";
			font-style: normal;
			font-weight: normal;
			font-size: 17px;
			line-height: 25px;
			text-align: center;
			text-transform: capitalize;
		}

	.purchase__line {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		margin-top: 15px;
	}
	
	.purchase__arrow {
		display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	}
/* ------------------------
				PAGINATION
-------------------------*/

#pagination {
  margin: 0;
  padding: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: "Circe";
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	line-height: 21px;
	text-align: center;

	color: #7B7B7B;
}
#pagination li {
  display: inline
}
.pagination__link{
  text-decoration: none;
  padding: 5px 10px;
	color: #000;
	
	display: flex;
	align-items: center;
	justify-content: center;

}

/* Active and Hoverable Pagination */
.pagination__link {
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s ;  
}
.pagination__link.active {
	font-size: 22px;
	font-weight: bold;
  color: #7B7B7B;
}
.pagination__link:hover:not(.active) {
  background-color: #ddd;
} 

.purchase__text{
	display: block;
}

@media (max-width: 768px) {
	.pagination__link{
		padding: 5px;
	}
	.purchase-header-button {
		min-width: 40px;
	}
	.purchase__text{
		display: none;
	}
}

@media only screen and (max-width: 570px) {
	/* .purchase-header-button {
		min-width: 40px;
	} */
	/* .purchase__text{
		display: none;
	} */

	.purchase__bottom-button{
		width: 80px;
	}

	.main-content {
		margin: 25px 0px;
	}
	.main-wrapper {
		width: 100%;
	}
	.purchase-top{
		margin: 10px 20px;
	}
}