/*  */
.head-string {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.head-string__input {
	background: #FFFFFF;
	width: 100%;

	border: 1px solid #8C8C8C;
	box-sizing: border-box;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.search-submit__button {
	height: 36px;
	width: 112px;
	background: #3155A5;
	border: 1px solid transparent;
	margin-left: 15px;

	font-family: "Circe";
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 25px;
	text-align: center;
	text-transform: capitalize;

	color: #FFFFFF;
}

.adv-search__label input,
.adv-search__table {
	border: 1px solid #8C8C8C;
	box-sizing: border-box;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	height: 38px;
	min-width: 180px;
	margin: 5px 0px;
	padding: 5px;
}

.adv-search__title {
	margin-left: 20px;
}




/*  */

.adv-search__wrapper {
	display: flex;
	justify-content: space-between;
}

.adv-search__table {
	display: flex;
	flex-direction: column;
}

.all-form-item {
	display: flex;
	flex-direction: column;
}

/*  */
.hide {
	display: none;
}

.hide+label~.adv-search-content {
	display: none;
}

/* оформляем текст label */
.hide+label {

	padding: 0;
	color: green;
	cursor: pointer;
	display: inline-block;
}

/* вид текста label при активном переключателе */
.hide:checked+label {
	color: red;
	border-bottom: 0;
}

/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked+label+div {
	display: block;
	padding: 10px;
}

.advanced-search>input[type="checkbox"]+label {
	width: 100%;
	text-align: center;
	color: #213539;
	font-size: 18px;
	margin: 3em 0px;

	font-family: "Circe";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;

	color: #000000;
}

.adv-search-content {
	display: flex;
	flex-wrap: wrap;

}

.adv-search-content .form-string {
	display: flex;
	justify-content: space-between;

}

.adv-search-content span {
	font-size: 16px;
	font-weight: 700;
}

.search-submit {
	display: flex;
	justify-content: center;
}

/*  */

/*
 CSS for the main interaction
*/
.tabset>input[type="radio"] {
	position: absolute;
	left: -200vw;
}

.tabset .tab-panel {
	display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
	display: flex;
}

/*
   Styling
  */

.tabset>label {
	position: relative;
	display: inline-block;
	padding: 15px 15px;
	border: 1px solid transparent;
	border-bottom: 0;
	cursor: pointer;
	font-weight: 600;
	background: #E3DFDF;
	border-radius: 10px 10px 0px 0px;
}


.tabset>label:hover,
.tabset>input:focus+label {
	color: #06c;
}


.tabset>input:checked+label {
	border-color: #ccc;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
	background-color: #fff;
}

.tab-panel {
	padding: 30px 0;
	border: 1px solid #ccc;
}

.tab-panel__flex {
	justify-content: space-around;
}

.tabset {
	max-width: 65em;
	margin: 3em 0px;
}

.region-list__checkbox {
	display: flex;
}

@media only screen and (max-width: 670px) {

	.adv-search__label input,
	.adv-search__table {
		min-width: 24vw;
	}
}


@media only screen and (max-width: 610px) {
	.adv-search__wrapper {
		flex-direction: column;
	}

	.adv-search__label input,
	.adv-search__table {
		min-width: 80vw;
	}
	.adv-search__table{
		margin: 5px 24px;
	}

	.adv-search__title_1{
		margin-left: 20px;
	}

	.tab-panel__flex{
		flex-direction: column;
    	align-items: center;
	}
	.region-list-col{
		margin-bottom: 10px;
	}
	.search-string {
		margin: 10px 20px;
	}
}

@media only screen and (max-width: 500px) {
	.purchase__bottom-button{
		width: 80px;
	}
}
